h1{
    font-size: 35px;
    margin: 25px 0 20px 0;
}
body{
    font-family: 'Lato', sans-serif;
    background-color: rgb(170, 230, 210);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#enot-photo{
    height: 230px;
    width: 240px;
    border-radius: 50%;
    margin: 0px 0px 0px 0px;
}
h2{
  font-size: 18px;
  margin: 20px 0px 20px 0px;
}
.quotes-block{
    text-align: left;
}
.quotes-block div{
  color: red;
}
ul{
  margin: 15px 0px 25px 0px;
}

